<div class="pl-1 pt-2 pb-1">
  <h1>
    Vue Du Vallon Chambres D'Hôtes - Photo Gallery
  </h1>
  <div class="pt-1">
    Some Water Sports and Paragliding are added for a short time on <a
       href="https://www.instagram.com/flyingwatersports/"
       target="_blank">Instagram</a>.
  </div>
</div>
<div class="photo-gallery-container">
  <div class="photo-gallery-grid">
    <img *ngFor="let photo of photos"
         [src]="photo.src"
         [alt]="photo.alt"
         [title]="photo.alt"
         class="photo" />
  </div>
</div>